@import views.Config

@(config: Config, title: String, bodyClass: Option[String] = None)(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    @meta(config, None)

    <title>@config.name - @title</title>

    @font()

    @libsTop(config.cdn)
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/admin.css")">
  </head>
  <body class="@bodyClass.getOrElse("")">
    @content

    @libsBottom(config.cdn)
    <script src="@routes.Assets.versioned("lib/admin.js")"></script>
    @ga(config.gaCode)
  </body>
</html>