@import views._
@import repo.ContentRepo

@(config: Config, repo: ContentRepo)

@secondary(config, "Schedule", metaInfo = Some(MetaInfo("GraphQL-Europe Conference Schedule"))) {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Schedule</h1>
      </div>
    </div>
  </div>

  <div class="container">
    @repo.schedule.zipWithIndex.map { case (talk, idx) =>
      <div class="row schedule-row @{if (idx == 0) "schedule-first" else if (idx == repo.schedule.size - 1) "schedule-last" else ""}">
        <div class="col-md-12 foo">
          <div class="schedule-time-col">
            <p>
              <strong class="schedule-time">@FormatUtil.format(talk.startTime)</strong>
            </p>

            <!--
            <p>
              <i class="fa fa-clock-o" aria-hidden="true"></i> @FormatUtil.format(talk.duration)
            </p>
            -->
          </div>
          <div class="schedule-line-col">
            @talk match {
              case t: Talk if t.format == TalkFormat.Special => {<img src="@routes.Assets.versioned(s"image/schedule-dot1.svg")" class="schedule-dot">}
              case t: Talk => {<img src="@routes.Assets.versioned(s"image/schedule-dot.svg")" class="schedule-dot">}
              case x => {<img src="@routes.Assets.versioned(s"image/schedule-dot1.svg")" class="schedule-dot">}
            }

            <div class="schedule-line"></div>
          </div>
          <div class="schedule-content-col">
            @talk match {
              case t: Talk if t.format == TalkFormat.Special => {@scheduleSpecial(t.title, t)}
              case t: Talk => {@scheduleTalk(t)}
              case e: Lunch => {@scheduleSpecial("Lunch", e)}
              case e: Break => {@scheduleSpecial("Break", e)}
              case e: Registration => {@scheduleSpecial("Registration", e)}
            }
          </div>
        </div>
      </div>
    }
  </div>
}