@import views._

@(talk: Talk)

<h3 style="padding-bottom: 10px">
  <p class="schedule-narrow-time"><strong class="schedule-time">@FormatUtil.format(talk.startTime)</strong></p>
  <a href="/schedule/@talk.slug" style="padding-right: 10px"><strong>@talk.title</strong></a>
</h3>

<section class="talk-description">
  @MarkdownUtil.render(talk.shortDescription.getOrElse(talk.description))
</section>

@if(talk.shortDescription.isDefined) {
  <p><a href="/schedule/@talk.slug">more info</a></p>
}

@talk.slidesUrl.map { slides =>
  <p><a target="_blank" href="@slides">Slides</a></p>
}

@if(talk.speakers.filterNot(_.stub).nonEmpty) {
  <div style="width: 0; height: 0; padding-top: 15px"></div>

  @talk.speakers.sortBy(_.slug).map { speaker =>
    @scheduleSpeaker(speaker)
  }
}