@import views._
@import repo.ContentRepo

@(config: Config, talk: Talk, repo: ContentRepo)

@secondary(config, talk.title, metaInfo = Some(talk.metaInfo)) {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>@talk.title</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="padding-top: 20px;padding-bottom: 20px;">
      <div class="col-md-12 talk-description">
        <strong><i class="fa fa-clock-o" aria-hidden="true"></i> Time:</strong> @FormatUtil.format(talk.startTime) - @FormatUtil.format(talk.endTime)
        &nbsp;&nbsp;&nbsp;&nbsp;
        <strong><i class="fa fa-clock-o" aria-hidden="true"></i> Duration:</strong> @FormatUtil.format(talk.duration)
          &nbsp;&nbsp;&nbsp;&nbsp;
        <strong><i class="fa fa-desktop" aria-hidden="true"></i> Format:</strong> @FormatUtil.format(talk.format)
      </div>
    </div>

    <div class="row" style="padding-top: 20px;padding-bottom: 20px;">
      <div class="col-md-12 talk-description">
        @MarkdownUtil.render(talk.description)
      </div>
    </div>

    @if(talk.speakers.nonEmpty) {
      <div class="row">
        <div class="col-md-12">
          <h2>Speaker@{if (talk.speakers.size > 1) "s" else ""}</h2>
        </div>
      </div>

      @talk.speakers.sortBy(_.slug).map { speaker =>
        @speakerSection(speaker, repo, noTaks = true)
      }
    }
  </div>
}