@import views.Config

@(config: Config)

@secondary(config, "Code of Conduct") {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Code of Conduct</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget orci a lacus porta rutrum ut sit amet diam. Aliquam egestas eros a viverra tristique. In tincidunt ex eget neque blandit pretium. Integer ipsum dolor, egestas a elit quis, suscipit vulputate nibh. Sed ut interdum lacus. Donec ac mi lacus. In et dolor non nisi iaculis tempus a a est. Morbi condimentum tristique gravida. Vestibulum sagittis eget ligula eget bibendum. Sed semper pharetra feugiat.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac odio nec felis laoreet placerat. Duis aliquam sem nisi, non vestibulum justo facilisis at. Praesent malesuada varius viverra. Integer finibus leo ut lacus hendrerit, sed aliquam felis sodales. Quisque congue nunc at elit suscipit, eget vulputate justo ultricies. Praesent varius nisi ut ligula dignissim ornare. Sed gravida feugiat magna nec imperdiet. Phasellus velit augue, molestie ac cursus a, hendrerit quis tellus. Phasellus imperdiet varius justo, quis luctus quam. Quisque pellentesque efficitur lorem, nec vulputate massa interdum in. Praesent eget sagittis metus, non posuere turpis. Donec vulputate nec metus ultrices lobortis. Suspendisse nec volutpat purus.
        </p>
      </div>
    </div>
  </div>
}