@import views.Config

@(config: Config)

@secondary(config, "Imprint") {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Imprint</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          Honeypot GmbH<br>
          Schönhauser Allee 45<br>
          10435 Berlin
        </p>

        <p>
          Amtsgericht Charlottenburg<br>
          HRB 167394 B
        </p>

        <p>
          Managing Directors: Kaya Taner and Emma Tracey
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Asquera Event UG<br>
          Ohlauer Straße 43<br>
          10999 Berlin
        </p>
      </div>
    </div>
  </div>
}