@import views._
@import repo.ContentRepo

@(config: Config, speakers: List[Speaker], sponsors: List[Sponsor], tickets: List[Ticket], venue: Venue, repo: ContentRepo, dark: Boolean, topLogo: Boolean)

@prefix = @{if (dark) "-dark" else ""}

@main(config, config.shortDescription) {
  @if(dark) {
    <div class="form-bg"></div>
  }

  <div class="top-gradient@prefix"></div>

  <div class="container">
    <div class="header clearfix">
      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          @if(topLogo) {
            <img class="top-logo" src="@routes.Assets.versioned("image/top-logo.svg")" />
          }

          <ul class="nav navbar-nav nav-pills float-xs-right">
            <li class="nav-item fade-in f1"><a class="nav-link" href="#tickets">Tickets</a></li>
            <li class="nav-item fade-in f2"><a class="nav-link" href="/schedule">Schedule</a></li>
            <li class="nav-item fade-in f3"><a class="nav-link" href="/speakers">Speakers</a></li>
            <li class="nav-item fade-in f4"><a class="nav-link" href="/sponsors">Sponsors</a></li>
            <li class="nav-item fade-in f5"><a class="nav-link" href="/team">Team</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <img class="cloud cloud-tl" src="@routes.Assets.versioned(s"image/cloud-tl$prefix.svg")" />
  <img class="cloud cloud-tr" src="@routes.Assets.versioned(s"image/cloud-tr$prefix.svg")" />
  <img class="cloud cloud-br" src="@routes.Assets.versioned(s"image/cloud-br$prefix.svg")" />
  <img class="cloud cloud-bl" src="@routes.Assets.versioned(s"image/cloud-bl$prefix.svg")" />

  <div class="main-header">
    <div class="main-header-content">
      <img class="logo" src="@routes.Assets.versioned("image/logo.svg")" />
      <div class="main-header-text">
        <div class="fade-in f0 subtitle">@config.name</div>
        <div class="fade-in f1 description">@config.description</div>
        <div class="fade-in f2 location">@config.location</div>
        <div  class="fade-in f3 location" style="margin-top: 30px">
          <a style="font-size: 3vh;" class="btn btn-lg btn-success register-button" href="#tickets" role="button">Get your ticket</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row fade-in f4" id="attend">
      <div class="col-md-2"></div>
      <div class="col-md-8 form-column">
        <div class="subscription-form">
          <div class="window-header">
            <div class="window-button"></div>
            <div class="window-button"></div>
            <div class="window-button"></div>
          </div>
          <div class="window-body">
            <div class="form-code-line-number">1</div><div class="form-code-line form-code-i1"><span class="form-code-keyword">subscription</span> <span class="form-code-normal">@("{")</span></div><br>
            <div class="form-code-line-number">2</div><div class="form-code-line form-code-i2"><span class="form-code-keyword">conferenceUpdates</span><span class="form-code-normal">(</span></div><br>
            <div class="form-code-line-number">3</div><div class="form-code-line form-code-i3"><label for="topRegisterName" class="form-code-comment"># enter your name</label></div><br>
            <div class="form-code-line-number">4</div><div class="form-code-line form-code-i3"><label for="topRegisterName" class="form-code-keyword">name</label><span class="form-code-normal">:</span> <span class="form-code-input">"<input type="text" class="form-control hidden-input" id="topRegisterName">"</span></div><br>
            <div class="form-code-line-number">5</div><div class="form-code-line form-code-i3"><label for="topRegisterEmail" class="form-code-comment"># enter your email</label></div><br>
            <div class="form-code-line-number">6</div><div class="form-code-line form-code-i3"><label for="topRegisterEmail" class="form-code-keyword">email</label><span class="form-code-normal">:</span> <span class="form-code-input">"<input type="text" class="form-control hidden-input" id="topRegisterEmail">"</span></div><br>
            <div class="form-code-line-number">7</div><div class="form-code-line form-code-i2"><span class="form-code-normal">) {</span> </div><br>
            <div class="form-code-line-number">8</div><div class="form-code-line form-code-i3"><span class="form-code-keyword">message</span></div><br>
            <div class="form-code-line-number">9</div><div class="form-code-line form-code-i2"><span class="form-code-normal">@}</span></div><br>
            <div class="form-code-line-number">10</div><div class="form-code-line form-code-i1"><span class="form-code-normal">}</span></div><br>
            <div class="window-result" style="display: none">
              <div class="form-code-line form-code-i1"><span class="form-code-normal">@("{")</span></div><br>
              <div class="form-code-line form-code-i2"><span class="form-code-input">"data"</span><span class="form-code-normal">: @("{")</span></div><br>
              <div class="form-code-line form-code-i3"><span class="form-code-input">"conferenceUpdates"</span><span class="form-code-normal">: @("{")</span></div><br>
              <div class="form-code-line form-code-i4"><span class="form-code-input">"message"</span>: <span class="form-code-input">"Thanks for subscribing!"</span></div><br>
              <div class="form-code-line form-code-i3"><span class="form-code-normal">@("}")</span></div><br>
              <div class="form-code-line form-code-i2"><span class="form-code-normal">@("}")</span></div><br>
              <div class="form-code-line form-code-i1"><span class="form-code-normal">@("}")</span></div>
            </div>
            <button class="execute-button"><svg width="32" height="32"><path d="M 8 3 L 30 16 L 8 29 z" fill="#F56199"></path></svg></button>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div id="about" class="row make-space content-row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="text-align: center">
        <h2>Join GraphQL Europe!</h2>
        <p style="padding-top: 35px">
          GraphQL-Europe is a non-profit GraphQL conference in Europe with speakers from all around the world. Learn about GraphQL best practices from industry experts and become part of the thriving GraphQL community.
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="beautiful-line-top"></div>
    <div class="beautiful-line-bottom" id="speakers"></div>

    <div class="row" style="padding-bottom: 40px">
      <div class="col-md-6">
        <h2>Speakers</h2>
      </div>
      <div class="col-md-6" style="text-align: right">
        <a class="btn btn-lg btn-success register-button" href="/schedule" role="button">View Schedule</a>
      </div>
    </div>

    @speakers.grouped(3).map { group =>
      <div class="row">
        @group.map { s =>
          @speaker(s, repo)
        }
      </div>
    }

    <img class="cloud-m cloud-m-br" src="@routes.Assets.versioned(s"image/cloud-m-br$prefix.svg")" />
    <img class="cloud-m cloud-m-bl" src="@routes.Assets.versioned(s"image/cloud-m-bl$prefix.svg")" />

    <div class="beautiful-line-top"></div>
    <div class="beautiful-line-bottom" id="tickets"></div>

    <div class="row">
      <div class="col-md-12" style="text-align: center">
        <h2>Get your ticket!</h2>
        <p>You don't want to miss out, join us for GraphQL-Europe!</p>
      </div>
    </div>

    <div class="row" style="padding-top: 30px">
      @tickets.map { ticket =>
        <div class="col-xl-4">
          <div class="ticket-box @{if (!ticket.available) "ticket-box-not-available" else ""}">
            @if(ticket.soldOut) {
              <img class="sold-out" src="@routes.Assets.versioned("image/sold-out-grey.svg")">
            }
            <div class="ticket price">@ticket.price</div>
            <div class="ticket price-title">@ticket.name</div>
            <div class="ticket price-availability">@ticket.availableUntilText</div>
            <a class="btn btn-lg btn-success register-button @{if (!ticket.available) "disabled" else ""}" href="@config.ticketsUrl" role="button" target="_blank">
              @{if (ticket.soldOut) "Sold Out" else "Get Ticket"}
            </a>
          </div>
        </div>
      }
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-md-12 ticket-note">
          <p>Tickets grant access to the conference, including food and drinks.</p>
          <p>The <a class="nav-link" href="/code-of-conduct">Code of Conduct</a> applies. Sales are awarded on a first-come-first-serve basis.</p>
          <p>If you want to learn more about group tickets, please, contact <a href="mailto:@config.supportEmail">@config.supportEmail</a>.</p>
        </div>
    </div>

    <div class="beautiful-line-top"></div>
    <div id="opportunity" style="width: 0; height: 0"></div>
    <div class="beautiful-line-bottom" id="diversity"></div>

    <div class="row" style="padding-bottom: 30px">
      <div class="col-md-12" style="text-align: center">
        <h2>Opportunity Tickets</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2" style="text-align: center"></div>
      <div class="col-md-8" style="text-align: center;">
        <p>
          We deeply care about diversity in tech. To support this we are offering<br>
          <strong>20%</strong> of our tickets free of charge to qualifying attendants.
        </p>

        <a class="btn btn-lg btn-success register-button" style="margin-top: 30px" href="https://diversitytickets.org/events/65" target="_blank" role="button">Apply here</a>
      </div>
      <div class="col-md-2" style="text-align: center"></div>
    </div>   

    <div class="beautiful-line-top"></div>
    <div class="beautiful-line-bottom" id="location"></div>

    <div class="row" style="padding-bottom: 30px">
      <div class="col-md-6 location-address">
        <h2 style="padding-bottom: 0; margin-bottom: 0">Location</h2>
        <p class="location-address-name">@venue.name</p>
        <p>@venue.address.streetName @venue.address.houseNumber, @venue.address.zipCode @venue.address.city</p>
      </div>
      <div class="col-md-6" style="text-align: right">
        <a class="btn btn-lg btn-success register-button" href="/location" role="button">Get directions</a>
      </div>
    </div>

    <div class="row" style="padding-bottom: 30px">
      <div class="col-md-3 venue-side">
        <img class="venue-image venue-side-first" src="@routes.Assets.versioned("image/venue/p6.jpg")">
        <img class="venue-image" src="@routes.Assets.versioned("image/venue/p3.jpg")">
      </div>
      <div class="col-md-6 venue-center">
        <img class="venue-image" src="@routes.Assets.versioned("image/venue/p4.jpg")">
        <img class="venue-image venue-center-middle" src="@routes.Assets.versioned("image/venue/p8.jpg")">
        <img class="venue-image" src="@routes.Assets.versioned("image/venue/p5.jpg")">
      </div>
      <div class="col-md-3 venue-side">
        <img class="venue-image venue-side-first" src="@routes.Assets.versioned("image/venue/p9.jpg")">
        <img class="venue-image" src="@routes.Assets.versioned("image/venue/p7.jpg")">
      </div>
    </div>

    <div class="row" style="padding-bottom: 30px">
      <div class="col-md-12">
        <img class="venue-image-bottom" src="@routes.Assets.versioned("image/venue/p2.jpg")">
      </div>
    </div>

    <div class="beautiful-line-top"></div>
    <div class="beautiful-line-bottom" id="sponsors"></div>

    <div class="row" style="padding-bottom: 30px">
      <div class="col-md-12">
        <h2>Sponsors</h2>
      </div>
    </div>

    <div class="row index-s-row" style="padding-top: 0px">
      @sponsors.filter(_.sponsorType == SponsorType.Gold).headOption.map { s =>
        <div class="col-md-4 s-home-cont">
          <a href="@s.url" target="_blank"><img class="s-home-logo" src="@s.logoUrl" alt="@s.name" title="@s.name"></a>
        </div>
      }
      @sponsors.filter(_.sponsorType == SponsorType.Silver).headOption.map { s =>
        <div class="col-md-4 s-home-cont" style="padding-top: 10px">
          <a href="@s.url" target="_blank"><img class="s-home-logo" src="@s.logoUrl" alt="@s.name" title="@s.name"></a>
        </div>
      }
      @sponsors.filter(_.sponsorType == SponsorType.Opportunity).headOption.map { s =>
        <div class="col-md-4 s-home-cont"  style="padding-top: 10px">
          <a href="@s.url" target="_blank"><img class="s-home-logo" src="@s.logoUrl" alt="@s.name" title="@s.name"></a>
        </div>
      }
    </div>
    <div class="row index-s-row" style="padding-top: 40px">
      @sponsors.filter(_.sponsorType == SponsorType.Gold).drop(1).headOption.map { s =>
        <div class="col-md-4 s-home-cont" style="padding-top: 20px">
          <a href="@s.url" target="_blank"><img class="s-home-logo" src="@s.logoUrl" alt="@s.name" title="@s.name"></a>
        </div>
      }
      @sponsors.filter(_.sponsorType == SponsorType.Bronze).headOption.map { s =>
        <div class="col-md-4 s-home-cont">
          <a href="@s.url" target="_blank"><img class="s-home-logo" src="@s.logoUrl" alt="@s.name" title="@s.name"></a>
        </div>
      }
      @sponsors.filter(_.sponsorType == SponsorType.Partner).headOption.map { s =>
        <div class="col-md-4 s-home-cont">
          <a href="@s.url" target="_blank"><img class="s-home-logo" src="@s.logoUrl" alt="@s.name" title="@s.name"></a>
        </div>
      }
    </div>

    @* Use different strategy as soon as we have nore sponsors *@
    @* @sponsors.filter(_.sponsorType != SponsorType.Organiser).grouped(3).map { sr =>*@
      @*<div class="row index-sponsor-row" style="padding-top: 0px">*@
        @* @sr.map { s =>*@
          @*<div class="col-md-4 s-home-cont">*@
            @*<a href="@s.url" target="_blank"><img class="s-home-logo" src="@s.logoUrl" alt="@s.name" title="@s.name"></a>*@
          @*</div>*@
        @*}*@
      @*</div>*@
    @*}*@

    <div class="row">
      <div class="col-md-12" style="padding-top: 30px">
      @organisedBy()
      </div>
    </div>

    <div class="row" style="padding-top: 65px; padding-bottom: 50px">
      <div class="col-md-12" style="text-align: center">
        <a class="btn btn-lg btn-success register-button" href="/sponsors" role="button">View Sponsors</a>
      </div>
    </div>

    <div class="row content-row">
      <div class="col-md-12" style="text-align: center; font-size: 0.8em">
        <p>Interested in sponsoring? Drop us an email at <a href="mailto:@config.sponsorEmail">@config.sponsorEmail</a>.</p>
      </div>
    </div>
  </div>

  @footerNav(config, "primary-footer")
}