@import views.Config
@import views.Speaker

@(config: Config, speakers: List[Speaker], dark: Boolean, topLogo: Boolean)

@prefix = @{if (dark) "-dark" else ""}

@main(config, config.shortDescription) {
  @if(dark) {
    <div class="form-bg"></div>
  }

  <div class="top-gradient@prefix"></div>

  <div class="container">
    <div class="header clearfix">
      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          @if(topLogo) {
            <img class="top-logo" src="@routes.Assets.versioned("image/top-logo.svg")" />
          }

          <ul class="nav navbar-nav nav-pills float-xs-right">
            <li class="nav-item fade-in f1"><a class="nav-link" href="#about">About</a></li>
            <li class="nav-item fade-in f2"><a class="nav-link" href="#attend">Attend</a></li>
            <li class="nav-item fade-in f3"><a class="nav-link" href="#speakers">Speakers</a></li>
            <li class="nav-item fade-in f4"><a class="nav-link" href="#sponsors">Sponsors</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <img class="cloud cloud-tl" src="@routes.Assets.versioned(s"image/cloud-tl$prefix.svg")" />
  <img class="cloud cloud-tr" src="@routes.Assets.versioned(s"image/cloud-tr$prefix.svg")" />
  <img class="cloud cloud-br" src="@routes.Assets.versioned(s"image/cloud-br$prefix.svg")" />
  <img class="cloud cloud-bl" src="@routes.Assets.versioned(s"image/cloud-bl$prefix.svg")" />

  <div class="main-header">
    <div class="main-header-content">
      <img class="logo" src="@routes.Assets.versioned("image/logo.svg")" />
      <div class="main-header-text">
        <div class="fade-in f0 subtitle">@config.name</div>
        <div class="fade-in f1 description">@config.description</div>
        <div class="fade-in f2 location">@config.location</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row fade-in f3" id="attend">
      <div class="col-md-2"></div>
      <div class="col-md-8 form-column">
        <div class="subscription-form">
          <div class="window-header">
            <div class="window-button"></div>
            <div class="window-button"></div>
            <div class="window-button"></div>
          </div>
          <div class="window-body">
            <div class="form-code-line-number">1</div><div class="form-code-line form-code-i1"><span class="form-code-keyword">subscription</span> <span class="form-code-normal">@("{")</span></div><br>
            <div class="form-code-line-number">2</div><div class="form-code-line form-code-i2"><span class="form-code-keyword">conferenceUpdates</span><span class="form-code-normal">(</span></div><br>
            <div class="form-code-line-number">3</div><div class="form-code-line form-code-i3"><label for="topRegisterName" class="form-code-comment"># enter your name</label></div><br>
            <div class="form-code-line-number">4</div><div class="form-code-line form-code-i3"><label for="topRegisterName" class="form-code-keyword">name</label><span class="form-code-normal">:</span> <span class="form-code-input">"<input type="text" class="form-control hidden-input" id="topRegisterName">"</span></div><br>
            <div class="form-code-line-number">5</div><div class="form-code-line form-code-i3"><label for="topRegisterEmail" class="form-code-comment"># enter your email</label></div><br>
            <div class="form-code-line-number">6</div><div class="form-code-line form-code-i3"><label for="topRegisterEmail" class="form-code-keyword">email</label><span class="form-code-normal">:</span> <span class="form-code-input">"<input type="text" class="form-control hidden-input" id="topRegisterEmail">"</span></div><br>
            <div class="form-code-line-number">7</div><div class="form-code-line form-code-i2"><span class="form-code-normal">) {</span> </div><br>
            <div class="form-code-line-number">8</div><div class="form-code-line form-code-i3"><span class="form-code-keyword">message</span></div><br>
            <div class="form-code-line-number">9</div><div class="form-code-line form-code-i2"><span class="form-code-normal">@}</span></div><br>
            <div class="form-code-line-number">10</div><div class="form-code-line form-code-i1"><span class="form-code-normal">}</span></div><br>
            <div class="window-result" style="display: none">
              <div class="form-code-line form-code-i1"><span class="form-code-normal">@("{")</span></div><br>
              <div class="form-code-line form-code-i2"><span class="form-code-input">"data"</span><span class="form-code-normal">: @("{")</span></div><br>
              <div class="form-code-line form-code-i3"><span class="form-code-input">"conferenceUpdates"</span><span class="form-code-normal">: @("{")</span></div><br>
              <div class="form-code-line form-code-i4"><span class="form-code-input">"message"</span>: <span class="form-code-input">"Thanks for subscribing!"</span></div><br>
              <div class="form-code-line form-code-i3"><span class="form-code-normal">@("}")</span></div><br>
              <div class="form-code-line form-code-i2"><span class="form-code-normal">@("}")</span></div><br>
              <div class="form-code-line form-code-i1"><span class="form-code-normal">@("}")</span></div>
            </div>
            <button class="execute-button"><svg width="32" height="28"><path d="M 11 9 L 24 16 L 11 23 z" fill="rgb(198, 198, 201)"></path></svg></button>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div id="about" class="row make-space content-row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="text-align: center">
        <h2>Join GraphQL Europe!</h2>
        <p>
          GraphQL is an application data query language that lets developers describe the complex, nested data dependencies of modern applications.
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="beautiful-line" id="speakers"></div>

    <div class="row">
      <div class="col-md-2">
        <h2>Speakers</h2>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <p class="smaller-font">
          More speakers to be confirmed. A call for papers will be opened in early 2017. Add your name to our waitlist if you are interested in speaking and we will contact you to let you know about the opening of the CPA.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <a class="btn btn-lg btn-success register-button" href="#attend" role="button">Give a talk</a>
      </div>
    </div>

    <div class="row" style="padding-top: 40px">
      @speakers.map { s =>
        @speaker(s)
      }
    </div>

    <div class="beautiful-line" id="sponsors"></div>

    <div class="row content-row">
      <div class="col-md-12" style="text-align: center">
        <h2>Interested in sponsoring?</h2>
        <p style="padding-top: 15px">
          For further details on sponsorship and the conference drop us a line
        </p>
        <p>
          <a style="padding-top: 15px" href="mailto:@config.sponsorEmail">@config.sponsorEmail</a>
        </p>
      </div>
      @*<div class="col-md-4">*@
        @*<img class="logo-grey" src="@routes.Assets.versioned("image/logo-grey.svg")" />*@
      @*</div>*@
    </div>

  </div>

  <div class="footer-bg" style="margin-top: 100px">
    <div class="container">
      <footer class="footer">
        <div style="text-align: center">
          <div class="subtitle-footer" style="padding-top: 140px;">I want to attend</div>
          <div class="description-footer" style="padding-bottom: 35px">Add your name to our waitlist and you will be the first to hear!</div>

          <form class="form-inline footer-form" style="padding-bottom: 140px">
            <div class="form-group">
              <input type="text" class="form-control" id="bottomRegisterName" placeholder="Your name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="bottomRegisterEmail" placeholder="Add your email">
            </div>
            <button id="registerButton" type="submit" class="btn btn-primary footer-button">Register</button>
          </form>
        </div>

        @footerNav(config)
      </footer>
    </div>

    <div class="bottom-gradient-wrapper">
      <div class="bottom-gradient"></div>
    </div>
    <div class="cloud-bbl-wrapper">
      <img class="cloud-bbl" src="@routes.Assets.versioned("image/cloud-bbl.svg")" />
    </div>
    <div class="cloud-bbr-wrapper">
      <img class="cloud-bbr" src="@routes.Assets.versioned("image/cloud-bbr.svg")" />
    </div>
  </div>
}