@import views._

@(config: Config, title: String, showMap: Option[Venue] = None)(content: Html)

@main(config, title, Some("secondary-body"), showMap = showMap) {
  <div class="secondary-header">
    <div class="container">
      <div class="header clearfix">
        <nav class="navbar navbar-light bg-faded">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a href="/"><img class="top-logo" src="@routes.Assets.versioned("image/top-logo.svg")" /></a>

            <ul class="nav navbar-nav nav-pills float-xs-right">
              <li class="nav-item"><a class="nav-link" href="/#tickets">Tickets</a></li>
              <li class="nav-item"><a class="nav-link" href="/schedule">Schedule</a></li>
              <li class="nav-item"><a class="nav-link" href="/speakers">Speakers</a></li>
              <li class="nav-item"><a class="nav-link" href="/sponsors">Sponsors</a></li>
              <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  @content

  <div class="secondary-end-space"></div>

  @footerNav(config, "secondary-footer")
}