@import views.Speaker
@import repo.ContentRepo

@(speaker: Speaker, repo: ContentRepo)

<div class="col-md-4 speaker">
  @speaker.photoUrl.map { photo =>
    <img class="speaker-photo" src="@photo">
  }.getOrElse {
    <div class="photo-placeholder"></div>
  }

  @speaker.github.map { gh =>
    <a target="_blank" class="speaker-icon" href="https://github.com/@gh"><i class="fa fa-github" aria-hidden="true"></i></a>
  }.getOrElse("")

  @speaker.twitter.map { t =>
    <a target="_blank" class="speaker-icon" href="https://twitter.com/@t"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  }.getOrElse("")

  <div class="speaker-name">@speaker.name.toUpperCase</div>
  <div class="speaker-description">@{repo.talksBySpeaker(speaker).headOption.map(_.title).getOrElse("TBA")}</div>

  @speaker.company.map { c =>
    <div class="speaker-company">@c</div>
  }.getOrElse("")
</div>