@import views.Speaker
@import repo.ContentRepo

@(speaker: Speaker, repo: ContentRepo)

<div class="col-md-4 speaker">
  <a href="/speakers/@speaker.slug"><img class="speaker-photo" src="@speaker.photoUrl.getOrElse(routes.Assets.versioned(s"image/speakers/you.png"))" alt="@speaker.name"></a>

  @speaker.github.map { gh =>
    <a target="_blank" class="speaker-icon" href="https://github.com/@gh"><i class="fa fa-github" aria-hidden="true"></i></a>
  }.getOrElse("")

  @speaker.twitter.map { t =>
    <a target="_blank" class="speaker-icon" href="https://twitter.com/@t"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  }.getOrElse("")

  <div class="speaker-name"><a href="/speakers/@speaker.slug">@speaker.name.toUpperCase</a></div>
  <div class="speaker-description">@{repo.talksBySpeaker(speaker).headOption.map(_.title).getOrElse(if (speaker.name == "TBA") speaker.description.get else "TBA")}</div>

  @speaker.company.map { c =>
    <div class="speaker-company">@c</div>
  }.getOrElse("")
</div>