@import views._

@(config: Config, sponsors: Seq[Sponsor])

@secondary(config, "Team") {

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Sponsors</h1>
        <p>GraphQL-Europe is an excellent opportunity to reach some of the best software developers in the industry.</p>

        <p style="font-weight: bold">Interested in sponsoring GraphQL-Europe?</p>

        <p>Contact our sponsor team at <a href="mailto:@config.sponsorEmail">@config.sponsorEmail</a> for more information regarding sponsor packages.</p>
      </div>
    </div>

    @SponsorSection.sections.map { section =>
      @defining(sponsors.filter(_.sponsorType == section.sponsorType)) { sectionSponsors =>
        @if(sectionSponsors.nonEmpty) {
          <div class="row">
            <div class="col-md-12">
              <h2 class="s-section-header" style="color: @section.color; border-color: @section.borderColor;">@section.name</h2>
            </div>
          </div>


          @if(section.justLogos) {
            <div class="row">
              <div class="col-md-4"></div>
              @sectionSponsors.headOption.map { s =>
                <div class="col-md-4 s-home-cont">
                  <a href="@s.url" target="_blank"><img class="s-home-logo" src="@s.logoUrl" alt="@s.name" title="@s.name"></a>
                </div>
              }
              <div class="col-md-4"></div>
            </div>
          } else {
            @sectionSponsors.map { s =>
              @sponsor(s)
            }
          }
        }
      }
    }
  </div>
}