@import views.Config
@import model.Subscriber

@(config: Config, subscriber: Subscriber)

@fontFam = @{"font-family: proxima-nova, \"Helvetica Neue\", Verdana, sans-serif; "}
@bottomColor = @{"color: #757576; font-size: 19px;"}

<html>
  <head>
    @meta(config, None)

    <title>Thanks for subscribing, @subscriber.name!</title>

    @font()

    <style type="text/css">
      a, a:visited {
        color: #757576; text-decoration: none;
      }

      a:hover, a:active {
        color: #303031;
      }
    </style>
  </head>
  <body style="padding: 0; margin: 0; background-color: #F3F3F3;">
    <div id="wrapper" style="padding-bottom: 50px; background-color: #F3F3F3;">
      <div id="main-content" style="padding-top: 100px; text-align: center; color: #1f2228;">
        <div id="main-box" style="background-color: white; border: 2px solid #E2E8F0; display: inline-block; max-width: 650px; padding-top: 50px; padding-bottom: 50px; padding-left: 50px; padding-right: 50px;">
          <a href="@config.canonicalUrl">
            <img id="logo" style="width: 150px; height: auto; padding-bottom: 10px;" src="@config.canonicalUrl/assets/image/graphql-europe-logo.png" alt="GraphQL-Europe Logo">
          </a>
          
          <h1 style="@fontFam font-size: 30px; font-weight: normal;">Thanks for subscribing, <strong>@subscriber.name</strong>!</h1>

          <p style="@fontFam font-size: 20px;">You've been added to our newsletter list and will be among the first to hear about updates around the conference.</p>
        </div>

        <div id="share" style="padding-top: 50px; padding-bottom: 30px;">
          <a id="first-share" style="padding-right: 20px;" href="https://twitter.com/@@graphqleu" target="_blank">
            <img style="width: 50px;" width="50" src="@config.canonicalUrl/assets/image/email-twitter.png">
          </a>

          <a href="mailto:@config.supportEmail">
            <img style="width: 50px;" width="50" src="@config.canonicalUrl/assets/image/email.png">
          </a>
        </div>

        <div id="links">
          <a id="first-link" href="mailto:@config.supportEmail" style="@fontFam @bottomColor text-decoration: none;">
            Contact
          </a>
          <span class="link-separator" style="@fontFam @bottomColor padding-left: 15px; padding-right: 15px;">|</span>
          <a href="@config.canonicalUrl/unsubscribe/@subscriber.id" style="@fontFam @bottomColor">
            Unsubscribe
          </a>
          <span class="link-separator" style="@fontFam @bottomColor padding-left: 15px; padding-right: 15px;">|</span>
          <a href="@config.canonicalUrl/subscribed/@subscriber.id" style="@fontFam @bottomColor">
            View In Browser
          </a>
        </div>

        <div id="copy" style="@fontFam @bottomColor padding-top: 10px;">
          2017 &copy; <a href="@config.canonicalUrl" style="@fontFam @bottomColor">GraphQL-Europe</a>
        </div>
      </div>
    </div>
  </body>
</html>